<div class="container mx-auto flex  md:my-2  ">
    <div class="swiper-container w-100">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for slide in site.slides limit:5 %}
                <div class="swiper-slide">
                    <img style="height:350px" src="{{ slide.image }}" />
                    
                </div>
            {% endfor %}
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev bg-white w-16 h-16 text-xs rounded-full text-green-500 mx-10"></div>
        <div class="swiper-button-next bg-white w-16 h-16 text-xs rounded-full text-green-500 mx-10"></div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
    
</div>